@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Miniver&display=swap');
:root{
    --font-color-1: #072434;
    --font-color-2: #ffffff;
    --btn-color: #897554;
    --footer-color: rgba(0, 0, 0, 0.712);
    --font--size: 1.2rem;
    --border-radius-btn: 7px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster Two", sans-serif;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;  
    padding: 15px; 
    position: fixed;
    /* you should add right & left : 0; */
    right: 0;
    left: 0;
    background-color: rgba(22, 13, 24, 0.11);
}
.navbar .logo{
    width: 8%;
}
/* <a> & <img> inline element not response (width and height) */
.navbar .logo img{
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 50%;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
/* All paragraphs */
p{
    font-size: 1.2rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar .logo{
        width: 20%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    .navbar .logo{
        width: 15%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .navbar .logo{
        width: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}
/* landing section */
.container{
    background-image: url("../media/bg copy.jpg");
    background-position: center center; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 20px;
}
.header p{
    padding: 10px 0;
}
header button{
    color: white;
    font-size: medium;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer; 
}
.btn-1{
    background-color: #897554;
    border: none;
}
/* About */
#about{
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
}
.about-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;
    color: #072434;
}
.about-content img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.about-content ul{
    color: #072434;
    display: flex;
    flex-direction: column;
    list-style: symbols(circle); 
}
.about-content ul li{
    text-align: left;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #about {
        flex-direction: column;
        align-items: center;
    }
    .about-content{
        width: 100%;
        text-align: center;
    }
    .about-content img{
        width: 100%;
        height: auto;
    }
    .about-content ul li{
        text-align: center;
    }
}
/* location section */
.location-section{
    width: 90%;
    margin: auto;
    display: flex;
}
.location-content{
    color: #072434;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
#main{
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.loc-text{
    font-size: 17px;
    text-align: center;
}
.location-content img{
   width: 100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .location-section{
        flex-direction: column;
        align-items: center;
        background-color: rgba(99, 65, 102, 0.288);
    }
    .location-content{
        width: 100%;
        text-align: center;
    }
    .location-content img{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .location-section{
        flex-direction: row;
        justify-content: calc(100% / 3);
        align-items: center;
    }
    .location-content{
        width: 50%;
        text-align: left;
    }
    .location-content img{
        width: 80%;
        height: auto;
    }
}
/*parent*/
.baking-section{ 
    color: #072434;
    width: 80%;
    margin: 10px auto;
} 
.baking-section .baking-title{
    margin: 20px 0;
    text-align: center;
}
.child{
    width: 32%;
    display: inline-block;
    row-gap: 7px;
}
.child img{
    width: 100%;
    border-radius: 5px;
}
.baking-section h5{
    text-align: center;
    margin: 5px 0;
} 
.child p{
    text-align: center;
}

/* site map section */
.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    height: 100%;
    color: #072434;
}
.iframe .my-location{
    width: 50%;
    margin: 20px auto;
}
.my-location label{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px 0;
}
.my-location p{
    margin: 10px 0;
}
.my-location input{
    padding: 20px 30px;
    margin: 10px;
    border: 1px solid ;
    border-radius: 10px;
    width: 70%;
}
.my-location label button{
    width: 100px;
    border: none;
    border-radius: var(--border-radius-btn);
    background-color: #897554;
    color: white;
    font-size: medium;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer; 
    margin-left: 15px;
}
.my-location iframe{
    border-radius: var(--border-radius-btn);
    height: 300px;
    width: 100%;
} 
@media only screen and (max-width: 600px) {
    .iframe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .iframe .my-location{
        width: 100%;
    }
}
/* Footer */
.footer{
    background-color: rgb(65, 45, 46);
    height: 100%;
}
.footer-container{
    max-width: 1170px;
    margin: auto;
    padding: 70px 0;
    height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(100% /5 -20px);
    margin: auto;
}
.col-footer h3{
    color: var(--btn-color);
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer ul{
    list-style-type: none;
}
.col-footer a {
    text-decoration: none;
    color: #ffff;
}
.col-footer{
    width: 25%;
    padding: 0 50px;
    display: flex;
}
.col-footer .social{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.col-footer ul li a{
    transition: 1s;
}
.col-footer ul li a:hover{
    zoom: 1.1;
    color: #897554;
}
.col-footer .icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}
.col-footer .icons i{
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}
.col-footer .icons i:hover{
    color: #897554;
}
.col-footer ul li:not(:last-child){
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.315);
    margin: 15px 0;
}
.footer-container .copyright{
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    color: var(--btn-color);
}
.copyright a{
    text-decoration: none;
    color: var(--btn-color);
}
@media only screen and (max-width: 600px) {
    .footer-container{
        width: 100%;
    }
    .row{
        width: 100%;
        flex-direction: column;
    }
    .col-footer{
    width: 50%;
    padding: 0 50px;
    display: flex;
}
}
/* blog section */
.landing{
    width: 100%;
    height: 100vh;
    background-image: url(../media/about-sction.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#072434;
}
.landing h1{
    margin-bottom: 15px;
}
/* blog posts */
.blog-section{
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.blog-section .blog-post img{
    width: 100%;
}