@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Miniver&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster Two", sans-serif;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;  
    padding: 15px; 
    position: fixed;
    /* you should add right & left : 0; */
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.11);
}
.navbar .logo{
    width: 8%;
}
/* <a> & <img> inline element not response (width and height) */
.navbar .logo img{
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 50%;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
/* All paragraphs */
p{
    font-size: 1.2rem;
}
/* landing section */
.container{
    background-image: url("../media/bg copy.jpg");
    background-position: center center; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 20px;
}
.header p{
    padding: 10px 0;
}
header button{
    color: white;
    font-size: medium;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer; 
}
.btn-1{
    background-color: #897554;
    border: none;
}
/* About */
#about{
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
}
.about-content{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;
}
.about-content img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
/* .about-content p{
    text-align: center;
} */
.about-content ul{
    display: flex;
    flex-direction: column;
    list-style: symbols(circle);
}
.about-content ul li{
    text-align: left;
}
/* location section */
.location-section{
    width: 90%;
    margin: auto;
    display: flex;
}
.location-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
#main{
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.loc-text{
    font-size: 17px;
    text-align: center;
}
.location-content img{
   width: 80%;
}
/*parent*/
.baking-section{ 
    width: 70%;
    margin: 10px auto;
} 
.baking-section .baking-title{
    margin: 20px 0;
    text-align: center;
}
.child{
    width: 32%;
    display: inline-block;
}
.child img{
    width: 100%;
    border-radius: 5px;
}
.baking-section h5{
    text-align: center;
    margin: 5px 0;
} 
.child p{
    text-align: center;
}
/* last section */
.iframe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
}
.my-location{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 100%;
    /* justify-content: space-between; */
    margin: 10px auto;
}

iframe{
    height: 300px;
    width: 350px;
    border: none;
    border-radius: 50px;
}
/* Footer */
.footer{
    background-color: rgb(65, 45, 46);
    height: 100%;
}
.footer-container{
    max-width: 1170px;
    margin: auto;
    padding: 70px 0;
    height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-footer .footer-logo{
    font-weight: bolder;
    font-size: 18px;
}
.footer ul{
    list-style-type: none;
}
.col-footer a {
    text-decoration: none;
    color: #ffff;
}
.col-footer{
    width: 25%;
    padding: 0 50px;
}
.col-footer h3{
    font-size: 18px;
    color: chocolate;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.col-footer ul li a{
    transition: 1s;
}
.col-footer ul li a:hover{
    /* padding-top: 15px; */
    zoom: 1.5;
}
.col-footer .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.col-footer ul li:not(:last-child){
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}